version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
    groups:
      version:
        applies-to: version-updates
        update-types:
          - patch
          - minor
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: "/vscode"
    schedule:
      interval: weekly
    groups:
      version:
        applies-to: version-updates
        update-types:
          - patch
          - minor
    ignore:
      - dependency-name: "@types/vscode"
  - package-ecosystem: docker
    directory: '/'
    schedule:
      interval: weekly
    groups:
      version:
        applies-to: version-updates
        update-types:
          - patch
          - minor
  - package-ecosystem: npm
    directory: "/scripts"
    schedule:
      interval: weekly
    groups:
      version:
        applies-to: version-updates
        update-types:
          - patch
          - minor
          - major
