name: Generate Changelog
on:
  workflow_dispatch:
jobs:
  changelogen:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: |
          docker pull quay.io/git-chglog/git-chglog:latest
          docker run -v "$PWD":/workdir quay.io/git-chglog/git-chglog --tag-filter-pattern '^v\d+\.\d+\.\d+$' -o CHANGELOG.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          add-paths: |
            CHANGELOG.md
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          base: main
          branch: create-pull-request/autogenerate-changelog
          commit-message: "chore: update changelog"
          title: "Update Changelog"
