name: Basic Checks
on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
defaults:
  run:
    shell: bash
jobs:
  lint:
    name: Lint (${{ matrix.target }})
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: macos-15
            target: aarch64-apple-darwin
          - os: macos-15-intel
            target: x86_64-apple-darwin
          - os: windows-2022
            target: x86_64-pc-windows-msvc
          - os: windows-11-arm
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Rust toolchain
        uses: ./.github/actions/rust-toolchain-yq
        with:
          targets: ${{ matrix.target }}
          components: clippy,llvm-tools,rust-src,rustc-dev
      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Run clippy
        run: cargo clippy --all-targets --all-features --workspace -- -D warnings
  fmt:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Rust toolchain
        uses: ./.github/actions/rust-toolchain-yq
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --check --all
  test:
    name: Build & Test (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: macos-15
            target: aarch64-apple-darwin
          - os: macos-15-intel
            target: x86_64-apple-darwin
          - os: windows-2022
            target: x86_64-pc-windows-msvc
          - os: windows-11-arm
            target: aarch64-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install cargo-nextest
        uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0 # v2.66.1
        with:
          tool: cargo-nextest
      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Install runtime deps
        run: cargo xtask toolchain echo "Successfully installed runtime dependencies"
      - name: Run tests with nextest
        run: cargo xtask toolchain cargo nextest run --no-fail-fast
      - name: Run doc tests
        run: cargo xtask toolchain cargo test --doc
      - name: Build release
        if: matrix.os != 'windows-11-arm'
        run: cargo xtask toolchain cargo build --release
      - name: Build Release (Windows ARM)
        if: matrix.os == 'windows-11-arm'
        run: cargo xtask toolchain cargo build --profile arm-windows-releas
      - name: Install binary
        if: matrix.os != 'windows-11-arm'
        run: cargo xtask toolchain cargo install --path crates/rustowl
      - name: Install binary (Windows ARM)
        if: matrix.os == 'windows-11-arm'
        run: cargo xtask toolchain cargo install --path crates/rustowl --profile arm-windows-release
      - name: Test rustowl check
        run: rustowl check ./perf-tests/dummy-package
  vscode:
    name: VS Code Extension Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
      - name: Setup PNPM And Install dependencies
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: ./vscode/package.json
          run_install: |
            - cwd: ./vscode
      - name: Check formatting
        run: pnpm prettier -c src
        working-directory: ./vscode
      - name: Lint and type check
        run: pnpm lint && pnpm check-types
        working-directory: ./vscode
      - name: Run tests
        run: xvfb-run -a pnpm run test
        working-directory: ./vscode
  cargo-deny:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
