name: Basic Checks

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUSTC_BOOTSTRAP: 1

jobs:
  define-matrix:
    name: Define supported Rust toolchains
    runs-on: ubuntu-latest
    outputs:
      toolchains: ${{ steps.toolchains.outputs.toolchains }}
    steps:
      - name: Define supported Rust toolchains
        id: toolchains
        run: echo 'toolchains=["1.89.0", "1.90.0", "1.91.1", "1.92.0", "1.93.0"]' >> $GITHUB_OUTPUT

  check:
    name: Format & Lint
    runs-on: ubuntu-latest
    needs:
      - define-matrix
    strategy:
      matrix:
        toolchain: ${{ fromJSON(needs.define-matrix.outputs.toolchains) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy,rustfmt,llvm-tools,rust-src,rustc-dev

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check formatting
        run: cargo fmt --check

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  test:
    name: Build & Test
    runs-on: ubuntu-latest
    needs:
      - define-matrix
    strategy:
      matrix:
        toolchain: ${{ fromJSON(needs.define-matrix.outputs.toolchains) }}
    env:
      TOOLCHAIN_CHANNEL: ${{ matrix.toolchain }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build release
        run: ./scripts/build/toolchain cargo build --release

      - name: Install binary
        run: ./scripts/build/toolchain cargo install --path .

      - name: Test rustowl check
        run: rustowl check ./perf-tests/dummy-package

      - name: Test algorithm consistency
        # it can be different between other Rust versions
        if: ${{ env.TOOLCHAIN_CHANNEL == '1.93.0' }}
        run: ./scripts/algorithm.sh

  vscode:
    name: VS Code Extension Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup PNPM And Install dependencies
        uses: pnpm/action-setup@v4
        with:
          package_json_file: ./vscode/package.json
          run_install: |
            - cwd: ./vscode

      - name: Check formatting
        run: pnpm prettier -c src
        working-directory: ./vscode

      - name: Lint and type check
        run: pnpm lint && pnpm check-types
        working-directory: ./vscode

      - name: Run tests
        run: xvfb-run -a pnpm run test
        working-directory: ./vscode
